{% extends 'lay.html' %} {% block title %} Home {% endblock %} {% block content
%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/home.css')}}"
/>
<body>
  <div class="encabezado">
    <div class="entrada">
      <h1>
        Sitio para personas que buscan cualquier tipo de relación, romántica o
        sexual... Encuentra parejas para citas de tu preferencia. vive
        experiencias alucinantes. ¡Haz realidad tus fantasías!
      </h1>
      <br />
      <button>Ver mas</button>
    </div>
  </div>
</body>
{% endblock %}
